.heading {
    color: white;
}

.paragraph {
  margin-bottom: -100px;
  z-index: 1;
  position: relative;
}

img {
    margin-top: 10px; /* Add a margin to the top of the image to create space */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.nav-links {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox to align items horizontally */
  }
  
  .nav-links li {
    margin-right: 20px; /* Add spacing between list items */
  }
  
  .nav-links li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
  }
  
  .nav-links a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Set link color */
  }
  