*{
    padding: 0px;
    margin: 0px;
}

.element {
    position: relative;
    top: 50px;
}
.responsive {
    width: 20%;
    height: auto;
    padding-top: 5%;
}


@media screen and (max-width: 600px) {
    .color-paragraph {
        color: rgb(34, 111, 225);
    }
    .responsive{
        padding-top: 20%;
    }
}

@media screen and (max-width: 768px) {
    .responsive{
        padding-top: 20%;
    }
}

@media screen and (max-width: 992px) {
    .responsive{
        padding-top: 20%;
    }
}