body{
    margin: 0px;
}

    .column {
        float: left;
    }
    .sidebar{
        width: 25%;
    }
    .main-content{
        width: 50%;
        }
    .container{
        text-align: center;
        display: flex;
    }

    .container-cards{
     display: flex;
     padding: 20px;
     justify-content: space-between;
     flex-wrap: wrap;
    }

    .container-cards img{
        width: 100%;
       }
    .card{
     max-width: 33.33%;
     margin: 10px;
     margin-bottom: 12px;
     border: 1px solid #ccc;
     box-sizing: border-box;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
     padding: 15px;
    }



@media screen and (max-width: 768px) {
    .column, .sidebar, .main-content{
        float: none;
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    .card{
        max-width: 50%;

    }
}